.topnav {
  background-color: rgb(123, 163, 123, 0.6);
  overflow: hidden;
  border-radius: 5px;
}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: rgb(156, 69, 10);
  color: black;
}
.topnav a.active {
  background-color: #b87222;
  color: rgb(5, 1, 1);
}
@font-face {
  src: url(../Fonts/Secular_One/SecularOne-Regular.ttf);
  font-family: secular;
}

@font-face {
  src: url(../Fonts/Anton/Anton-Regular.ttf);
  font-family: anton;
}
@font-face {
  src: url(../Fonts/Amatic_SC/);
  font-family: Amatic;
}
* {
  margin: 0;
  padding: 0;
}

body, html{
  height: auto;
  width: auto;
  padding: 0px;
}
#SLIDE_BG {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 8s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url('../bgimages/table.jpg');
  
}
@keyframes slideBg {
  0% {
    background-image: url('../bgimages/table.jpg');
  }
  25% {
    background-image: url('../bgimages/bar.jpg')
  }
  50% {
    background-image: url('../bgimages/people.jpg')
  }
  75% {
    background-image: url('../bgimages/restaurant.jpg')
  }
  100% {
    background-image: url('../bgimages/table.jpg')
  }
}
body {
  background-image: url("../images/BG\ Pizza\ Image.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 999px;
  }

  h1 {
    text-align: center;
    font-size: 100px;
    background-color: rgb(123, 163, 123,0.6);
    font-family: secular; 
    
  }
  h2 {
    text-align: center;
    margin: 0px;
    padding: 5px;
    font-family: Anton;
    font-size: 50px;
    background-color: rgb(123, 163, 123, 0.6);
    border-radius: 0px,0px,5px,5px;
  }
  h5 {
    text-align: center;
    margin: 0px;
    padding: 5px;
    font-family: Anton;
    font-size: 50px;
  }
  button {
    margin: 10px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
  }
  footer {
    font-weight: bold;
    text-align: left;
  }
  .text-center {
    text-align: center;
    margin-top: 150px;
  }
  h3 {
    text-align: center;
    font-family: Anton;
    font-size: 30px;
    
  }
  h4 {
    text-align: center;
    font-family: Anton;
    font-size: 30px;
    
    
  }
  .pizzagallery img {
    height: 200px;
    width: 20%;
    border: rgb(123, 163, 123);
    border-width: thick;
    border-style: solid;
    margin-left: 100px;
    margin-right: 50px;
    position: relative;
    border-radius: 10px;
    margin-top: 20px;
    
  }
  .thincrust {
    column-count: 3;
    margin: 0px;
    padding: 10px;
    font-family: Amatic;
    font-size: x-large;
    background-color: rgb(123, 163, 123,0.6);
    border-radius: 10px;
  }
  p {
    margin: 0px;
  }
  
  .deepdish1  {
    column-count: 1;
    margin: 0px;
    padding: 10px;
    font-family: Amatic;
    font-size: x-large;
    margin-left: 50px;
    margin-right: 450px;
    border-radius: 10px;
    text-align: justify center;
    width: 250px;
    float: left;
  }
  .deepdish2  {
    column-count: 1;
    margin: 0px;
    padding: 10px;
    font-family: Amatic;
    font-size: x-large;
    margin-left: 015px;
    margin-right: 150px;
    border-radius: 10px;
    text-align: left;
    width: 250px;
    float: left;
    
  }
  #rightbox {
    width: 170%;
    float: left;
    height: auto;
    background-color: rgb(123, 163, 123,0.6); 
    padding: 10px;
    border-radius: 5px;
   
  }
  #leftbox {
    width: 170%;
    float: left;
    height: auto;
    background-color: rgb(123, 163, 123,0.6);
    padding: 10px;
    border-radius: 5px;
  }
 
  .form {
    background-color: rgb(123, 163, 123, 0.6);
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    border-radius: 10px;
  }

  input[type=text],textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
   
  }
  

